{
  "web": {
    "client_id": "{{ KEYCLOAK_CLIENT_ID }}",
    "client_secret": "{{ KEYCLOAK_CLIENT_SECRET }}",
    "auth_uri": "{{ KEYCLOAK_ENDPOINT }}/auth/realms/demo/protocol/openid-connect/auth",
    "token_uri": "{{ KEYCLOAK_ENDPOINT }}/auth/realms/demo/protocol/openid-connect/token",
    "issuer": "{{ KEYCLOAK_ENDPOINT }}/auth/realms/demo",
    "userinfo_uri": "{{ KEYCLOAK_ENDPOINT }}/auth/realms/demo/protocol/openid-connect/userinfo",
    "redirect_uris": [
      "{{ FLASK_DEMO_ENDPOINT }}/oidc/callback"
    ]
  }
}
