# secret key for OpenIDConnect interaction
oidc_secret_key: ABCDE

# name of the cookie used for managing the session
oidc_token_cookie_name: flask_demo

# realm name as configured in the IAM tool
oidc_openid_realm: demo

# required to enforce introspection method
oidc_introspection_auth_method: client_secret_post

# whether SSL is required (only disable in DEV)
oidc_id_token_cookie_secure: False

# whether the user is required to have a verified email
oidc_require_verified_email: False

# whether user information is enabled for collection
oidc_user_info_enabled: True
