<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div>
        <table>
            <tr>
                <td><b>Total Deployments:</b></td>
                <td>{{metadata['total_deploys']}}</td>
            </tr>
            <tr>
                <td><b>Total Work Time (All Upgrades):</b></td>
                <td>{{"{:,.2f}".format(metadata['total_minutes'])}} Minutes ({{"{:,.2f}".format(metadata['total_hours'])}} Hours)</td>
            </tr>
            <tr>
                <td><b>Average Work Time Per Upgrade:</b></td>
                <td>{{"{:,.2f}".format(metadata['average_minutes'])}} Minutes ({{"{:,.2f}".format(metadata['average_hours'])}} Hours)</td>
            </tr>
            <tr>
                <td><b>Time Period:</b></td>
                <td>{{metadata['total_days']}} Days</td>
            </tr>
        </table>
    </div>
    <canvas id="process-pie" style="display: inline-block; max-height: 700px; max-width: 49%;"></canvas>
    <canvas id="process-polar" style="display: inline-block; max-height: 700px; max-width: 49%;"></canvas>
    <canvas id="process-step-by-date" style="display: block; max-height: 1000px; max-width: 1500px; margin-top: 30px;"></canvas>
    <canvas id="top-process-steps" style="display: block; max-height: 1000px; max-width: 1500px; margin-top: 30px;"></canvas>

    <div>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Customer</th>
                    <th>Environment</th>
                    <th>Operator</th>
                    <th>Process Timings (Minutes)</th>
                </tr>
            </thead>

            <tbody>
                {%for d in deploy%}
                    <tr>
                        <td>{{d['started']}}</td>
                        <td>{{d['customer']}}</td>
                        <td>{{d['env']}}</td>
                        <td>{{d['lead']}}</td>
                        <td>
                            {%for key in d['steps']|sort%}
                                {{"{0:s} | CUM: {1:>4.0f} | AVG: {2:>4.0f} | MIN: {2:>4.0f} | MAX: {3:>4.0f}<br/>".format(key, d['steps'][key]['cum_time'], d['steps'][key]['avg_time'], d['steps'][key]['min_time'], d['steps'][key]['max_time'])}}
                            {%endfor%}
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <!-- "process-pie" pie-chart of consumption percent by process step -->
    <script>
        var ctx = document.getElementById("process-pie").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{pie_labels}},
                datasets: [{
                    data: {{pie_data}},
                    backgroundColor: {{pie_colors}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Total Time (Minutes) Per Process Step',
                    fontColor: 'black',
                    fontSize: 22,
                    padding: 30
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                responsive: true,
                layout: {
                    padding: {
                        bottom: 40
                    }
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'center',
                        backgroundColor: function(context) {
                            return context.dataset.backgroundColor;
                        },
                        borderColor: 'white',
                        borderRadius: 25,
                        borderWidth: 2,
                        color: 'black',
                        display: function(context) {
                            var percent = Math.round(context.dataset.data[context.dataIndex] / {{metadata['total_minutes']}} * 100);
                            return percent > 6;
                        },
                        formatter: function(value, context) {
                            var value = context.dataset.data[context.dataIndex];
                            return context.chart.data.labels[context.dataIndex] + ": " + value + " (" + Math.round(value / {{metadata['total_minutes']}} * 100) + "%)";
                        }
                    }
                }
            }
        });
    </script>

    <!-- "average-polar" polar-chart of average process step timing -->
    <script>
        var ctx = document.getElementById("process-polar");
        var myChart = new Chart.PolarArea(ctx, {
            data: {
                datasets: [{
                    data: {{polar_data}},
                    backgroundColor: {{polar_colors}}
                }],
                labels: {{polar_labels}}
            },
            options: {
                title: {
                    display: true,
                    text: 'Average Time (Minutes) Per Process Step',
                    fontColor: 'black',
                    fontSize: 22,
                    padding: 30
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                responsive: true,
                layout: {
                    padding: {
                        bottom: 40
                    }
                },
                plugins: {
                    datalabels: {
                        display: false
                    }
                }
            }
        });
    </script>

    <!-- "stacked processes by date" graph (minutes) -->
    <script>
        var ctx = document.getElementById("process-step-by-date").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{stacked_labels}},
                datasets: {{stacked_ds}}
            },
            options: {
                title: {
                    display: true,
                    text: '# Deployments and Total Time (Minutes) Per Step Per Date',
                    fontColor: 'black',
                    fontSize: 22
                },
                tooltips: {
                    mode: 'point',
                    intersect: false
                },
                responsive: true,
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        display: true,
                        position: "left",
                        type: "linear",
                        scaleLabel: {
                            display: true,
                            labelString: 'Minutes',
                            beginAtZero: true
                        },
                        stacked: true,
                        id: "yAxisLeft"
                    },
                    {
                        display: true,
                        position: "right",
                        type: "linear",
                        scaleLabel: {
                            display: true,
                            labelString: '# Deploys',
                            beginAtZero: true
                        },
                        id: "yAxisRight"
                    }]
                },
                plugins: {
                    datalabels: {
                        display: false
                    }
                }
            }
        });
    </script>

    <!-- "top process steps" line graph -->
    <script>
        var ctx = document.getElementById("top-process-steps").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{stacked_labels}},
                datasets: {{line_chart}}
            },
            options: {
                spanGaps: true,
                title: {
                    display: true,
                    text: 'Trend of Top 5 Time-Consuming Process Steps (Based on Total Cumulative Time)',
                    fontColor: 'black',
                    fontSize: 22
                },
                tooltips: {
                    mode: 'point',
                    intersect: false
                },
                responsive: true,
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                scales: {
                    yAxes: [{
                        display: true,
                        position: "left",
                        type: "linear",
                        scaleLabel: {
                            display: true,
                            labelString: 'Total Minutes Per Upgrade',
                            beginAtZero: true
                        },
                        id: "yAxisLeft"
                    }]
                },
                plugins: {
                    datalabels: {
                        display: false
                    }
                }
            }
        });
    </script>
  </body>
</html>
