<html>
  <head>
  </head>
  <body>
    <canvas id="process-pie" style="display: inline-block; max-height: 500px; max-width: 500px;"></canvas>
    <table style="display: inline-block; vertical-align: top; margin-left: 200px; font-size: 32px; border: 1px solid black; margin-top: 200px; padding: 12px;">
        <tr>
            <td>Total Deployments:&nbsp;&nbsp;</td>
            <td>{{metadata['total_deploys']}}</td>
        </tr>
        <tr>
            <td>Total Minutes:</td>
            <td>{{metadata['total_minutes']}}</td>
        </tr>
        <tr>
            <td>Total Days:</td>
            <td>{{metadata['total_days']}}</td>
        </tr>
    </table>
    <canvas id="process-step-by-date" style="display: block; max-height: 1000px; max-width: 1500px;"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


    <!-- "process-pie" pie-chart of consumption percent by process step -->
    <script>
        var ctx = document.getElementById("process-pie").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{pie_labels}},
                datasets: [{
                    data: {{pie_data}},
                    backgroundColor: {{pie_colors}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Total time (Minutes) Per Process Step',
                    fontSize: 22
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                responsive: true
            }
        });
    </script>

    <!-- "stacked processes by date" graph (minutes) -->
    <script>
        var ctx = document.getElementById("process-step-by-date").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{stacked_labels}},
                datasets: {{stacked_ds}}
            },
            options: {
                title: {
                    display: true,
                    text: 'Total Time (Minutes) Per Step Per Date',
                    fontSize: 22
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                tooltips: {
                  mode: 'point'
                },
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });
    </script>
  </body>
</html>
