<html>
  <head>
  </head>
  <body>
    <div>
        <span><b>Total Deployments:</b>&nbsp;{{metadata['total_deploys']}}</span>
        <span><b>Total Minutes:</b>&nbsp;{{metadata['total_minutes']}}</span>
        <span><b>Total Days:</b>&nbsp;{{metadata['total_days']}}</span>
    </div>
    <canvas id="process-pie" style="display: inline-block; max-height: 700px; max-width: 49%;"></canvas>
    <canvas id="process-polar" style="display: inline-block; max-height: 700px; max-width: 49%;"></canvas>
    <canvas id="process-step-by-date" style="display: block; max-height: 1000px; max-width: 1500px; margin-top: 30px;"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <!-- "process-pie" pie-chart of consumption percent by process step -->
    <script>
        var ctx = document.getElementById("process-pie").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: {{pie_labels}},
                datasets: [{
                    data: {{pie_data}},
                    backgroundColor: {{pie_colors}}
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Total Time (Minutes) Per Process Step',
                    fontColor: 'black',
                    fontSize: 22,
                    padding: 30
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                responsive: true,
                layout: {
                    padding: {
                        bottom: 40
                    }
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'center',
                        backgroundColor: function(context) {
                            return context.dataset.backgroundColor;
                        },
                        borderColor: 'white',
                        borderRadius: 25,
                        borderWidth: 2,
                        color: 'black',
                        display: function(context) {
                            var percent = Math.round(context.dataset.data[context.dataIndex] / {{metadata['total_minutes']}} * 100);
                            return percent > 6;
                        },
                        formatter: function(value, context) {
                            var value = context.dataset.data[context.dataIndex];
                            return context.chart.data.labels[context.dataIndex] + ": " + value + " (" + Math.round(value / {{metadata['total_minutes']}} * 100) + "%)";
                        }
                    }
                }
            }
        });
    </script>

    <!-- "average-polar" polar-chart of average process step timing -->
    <script>
        var ctx = document.getElementById("process-polar");
        var myChart = new Chart.PolarArea(ctx, {
            data: {
                datasets: [{
                    data: {{polar_data}},
                    backgroundColor: {{polar_colors}}
                }],
                labels: {{polar_labels}}
            },
            options: {
                title: {
                    display: true,
                    text: 'Average Time (Minutes) Per Process Step',
                    fontColor: 'black',
                    fontSize: 22,
                    padding: 30
                },
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                responsive: true,
                layout: {
                    padding: {
                        bottom: 40
                    }
                },
                plugins: {
                    datalabels: {
                        display: false
                    }
                }
            }
        });
    </script>

    <!-- "stacked processes by date" graph (minutes) -->
    <script>
        var ctx = document.getElementById("process-step-by-date").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{stacked_labels}},
                datasets: {{stacked_ds}}
            },
            options: {
                title: {
                    display: true,
                    text: '# Deployments and Total Time (Minutes) Per Step Per Date',
                    fontColor: 'black',
                    fontSize: 22
                },
                tooltips: {
                    mode: 'index',
                    intersect: false
                },
                responsive: true,
                legend: {
                    display: true,
                    position: 'right',
                    labels: {
                      fontSize: 16
                    }
                },
                tooltips: {
                  mode: 'point'
                },
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        display: true,
                        position: "left",
                        type: "linear",
                        scaleLabel: {
                            display: true,
                            labelString: 'Minutes',
                            beginAtZero: true
                        },
                        stacked: true,
                        id: "yAxisLeft"
                    },
                    {
                        display: true,
                        position: "right",
                        type: "linear",
                        scaleLabel: {
                            display: true,
                            labelString: '# Deploys',
                            beginAtZero: true
                        },
                        id: "yAxisRight"
                    }]
                },
                plugins: {
                    datalabels: {
                        display: false
                    }
                }
            }
        });
    </script>
  </body>
</html>
