# place your environment-specific settings in here
PORT        = 5000                         # port to listen on
DEBUG       = False                        # whether to run the service in debug mode
ROLE        = 'Injector'                   # role of this node - can be one of 'Injector', 'Processor' or 'Terminator'
LISTEN_PATH = 'service1'                   # path that the service will listen on for incoming requests (i.e. "http://<SOME_HOST>:<SOME_PORT>/service1")
NEXT_HOP    = 'http://<IP>:<PORT>/<PATH>'  # where to send messages when they are received (irrelevant of this node is a 'Terminator')
