<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                           crossorigin="anonymous">

    <title>Keycloak Flask Demo</title>
  </head>

  <body>
		<header>
			<nav class="navbar navbar-light bg-light navbar-expand-sm">
				<a class="navbar-brand mr-auto" href="/">Demo</a>

				<div class="navbar-nav justify-content-end">
					{% if not g.user %}
						<a class="nav-link p-2 text-dark" href="/login">Log In</a>
					{% else %}
						<a class="nav-link p-2 text-dark" href="/dashboard">Dashboard</a>
						<a class="nav-link p-2 text-dark" href="/logout">Logout</a>
					{% endif %}
				</div>
			</nav>
		</header>

    <main role="main" class="container">
      {% block body %}
      {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
