# MANAGED BY ANSIBLE - do not hand edit
127.0.0.1   {{ ansible_hostname }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.11.12.13 master
10.11.12.14 node1
10.11.12.15 node2
